<html>
  <head>
  </head>
  <body>
    <form action="/" method="post">
      <label for="string">Text to encode?</label>
      <input type="text" name="string" />
      <label for="offset">Numerical key?</label>
      <input type="number" name="offset" />
      <input type="submit" value="Submit" />
    </form>
    <% if @message %>
      <p><%= @message %></p>
    <% end %>
  </body>
</html>
