<html>
  <head>
  </head>
  <body>
    <form>
      <label for="string">Text to encode?</label>
      <input type="text" name="string" />
      <label for="offset">Numerical key?</label>
      <input type="number" name="offset" />
      <input type="submit" value="Submit" />
    </form>
    <%= message %>
  </body>
</html>
