<% provide(:title, "Profile") %>
<h1><%= @user.name %></h1>
<h3>Hosted events</h3>
<div id="accordion">
  <%= render @hosting %>
</div>
<h3>Invitations</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Event</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @user.invitations.each do |invitation| %>
      <tr>
        <td scope="col">
          <%= link_to invitation.event.title, invitation.event %>
        </td>
        <td scope="col"><%= invitation.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>