<% provide(:title, "Events") %>
<h1>Events</h1>
<%= button_to "Create new event", new_event_path, method: :get, class: "btn btn-outline-primary" %>

<div id="accordion">
  <%= render @events %>
</div>