<% provide(:title, "Posts") %>
<h1>Posts</h1>
<%= "<p><em>Bet you wish you knew who wrote these...</em></p>".html_safe unless logged_in? %>
<% @posts.each do |post| %>
  <h5><%= post.title %></h5>
  <% if logged_in? %>
    <strong>Author:</strong>
    <%= User.find_by(id: post.user_id).name %>
  <% end %>
  <p><%= post.body %></p>
<% end %>
