<% provide(:title, "Members Only") %>
<h1>Welcome to the new center of your universe!</h1>
<br>
<div class="container">
  <%= button_to "Okay, show me the posts already!", posts_index_path, method: :get, class: "btn btn-light" %>
</div>